<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CfxUtilityGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <CfxUtilityGUI.Properties.Settings>
            <setting name="LocalDbPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="MolIDInLocalDb_FieldName" serializeAs="String">
                <value>Mol_ID</value>
            </setting>
            <setting name="LocalCodeInLocalDb_FieldName" serializeAs="String">
                <value/>
            </setting>
            <setting name="ChemName_FieldName" serializeAs="String">
                <value>cas_index_name;Other_Names</value>
            </setting>
            <setting name="ScaffordCdx_FileName" serializeAs="String">
                <value/>
            </setting>
            <setting name="Smiles_FieldName" serializeAs="String">
                <value>SMILES</value>
            </setting>
            <setting name="LoadSubstanceImage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Overwrite" serializeAs="String">
                <value>False</value>
            </setting>
        </CfxUtilityGUI.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
